:root {
  --text-dark: #4d4d4d;
  --text-light: #afafaf;
  --light-gray: #e5e5e5;
  --default-green: #03d69d;
  --bg-green: #f4fbf9;
  --dark-blue: #133a6f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
div {
  font-size: inherit;
  font-weight: normal;
  text-wrap: balance;
  text-size-adjust: auto;
  overflow-wrap: break-word;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}

iframe {
  border: 0;
}

address {
  font: inherit;
}
